html {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #BBC3C9;
    min-height: 100%;
    margin-top: 200px;
}

.game {
    background-color: #9b6a6c;
    border: 5px solid #212227;
    border-radius: 30px;
    padding: 40px;  
}

h1 {
    color: #bdd4e7;
    text-align: center;
}



